<launch> 
<!--controller -->
    <node name="gripper_controller" pkg="ex_ground" type="gripper" output="screen"></node>
    <node name="position_controller" pkg="ex_ground" type="position" output="screen"></node>
    <node name="wrench_mapper" pkg="ex_ground" type="mapper" output="screen"></node>
    <node name="attitude_controller" pkg="ex_ground" type="attitude" output="screen"></node>
<!-- keyboard control -->
    <node name="keyboard" pkg="ex_ground" type="keyboard" output="screen"></node>
<!--trajectory generate-->
    <node name="trajectory_generator" pkg="ex_ground" type="trajectory_generator" output="screen">
<!-- optitrack using for platform-->
    <node name="topic_tool_platform" pkg="ex_ground" type="topic_tool_platform" output="screen">
    </node>
</launch>
